In [2]:
import pandas as pd

In [3]:
df_combined = pd.read_csv('combined_final.csv')
df_original = pd.read_csv('original.csv')

In [4]:
df_original.columns

Index(['# Child_BIRTHS_ALL_YEAR', 'MARITAL_STATUS_ALL_YEAR', 'RESID_STATE_90',
       'AGE_90', 'EMPLOYMENT_90', 'EDUC_LEVEL_90', 'RESID_STATE_91', 'AGE_91',
       'EMPLOYMENT_91', 'EDUC_LEVEL_91', 'RESID_STATE_92', 'AGE_92',
       'EMPLOYMENT_92', 'EDUC_LEVEL_92', 'RESID_STATE_93', 'AGE_93',
       'EMPLOYMENT_93', 'EDUC_LEVEL_93', 'RESID_STATE_94', 'AGE_94',
       'EMPLOYMENT_94', 'EDUC_LEVEL_94', 'RESID_STATE_95', 'AGE_95',
       'EMPLOYMENT_95', 'EDUC_LEVEL_95', 'RESID_STATE_96', 'AGE_96',
       'EMPLOYMENT_96', 'EDUC_LEVEL_96', 'RESID_STATE_97', 'AGE_97',
       'EMPLOYMENT_97', 'EDUC_LEVEL_97', 'RESID_STATE_99', 'AGE_99',
       'EMPLOYMENT_99', 'EDUC_LEVEL_99', 'RESID_STATE_01', 'AGE_01',
       'EMPLOYMENT_01', 'EDUC_LEVEL_01', 'RESID_STATE_03', 'AGE_03',
       'EMPLOYMENT_03', 'EDUC_LEVEL_03', 'RESID_STATE_05', 'AGE_05',
       'EMPLOYMENT_05', 'EDUC_LEVEL_05', 'RESID_STATE_07', 'AGE_07',
       'EMPLOYMENT_07', 'EDUC_LEVEL_07', 'RESID_STATE_09', 'AGE_09',
       'EMPLOYMENT_09', 'EDUC_LEVEL_09', 'RESID_STATE_11', 'AGE_11',
       'EMPLOYMENT_11', 'EDUC_LEVEL_11', 'RESID_STATE_13', 'AGE_13',
       'EMPLOYMENT_13', 'EDUC_LEVEL_13', 'RESID_STATE_15', 'AGE_15',
       'EMPLOYMENT_15', 'EDUC_LEVEL_15', 'RESID_STATE_17', 'AGE_17',
       'EMPLOYMENT_17', 'EDUC_LEVEL_17', 'RESID_STATE_19', 'AGE_19',
       'EMPLOYMENT_19', 'EDUC_LEVEL_19'],
      dtype='object')

In [5]:
df_combined.columns

Index(['COMBINED_RESID_STATES_90TO19', 'COMBINED_AGE_90TO19',
       'COMBINED_EMP_90TO19', 'COMBINED_EDU_90TO19'],
      dtype='object')

In [6]:
summary_columns = [df_original['# Child_BIRTHS_ALL_YEAR'], df_combined['COMBINED_AGE_90TO19'], df_combined['COMBINED_EDU_90TO19']]

In [7]:
concat_summary = pd.concat(summary_columns, axis=1)

In [8]:
concat_summary #summary of these three cols

       # Child_BIRTHS_ALL_YEAR  COMBINED_AGE_90TO19  COMBINED_EDU_90TO19
0                          0.0                  2.0                  0.0
1                          3.0                  0.0                  0.0
2                          0.0                  0.0                  0.0
3                          4.0                  5.0                  0.0
4                          2.0                  5.0                  0.0
...                        ...                  ...                  ...
48615                      NaN                  0.0                  0.0
48616                      NaN                  0.0                  0.0
48617                      NaN                  0.0                  0.0
48618                      NaN                  0.0                  0.0
48619                      NaN                  0.0                  0.0

[48620 rows x 3 columns]

In [9]:
summary_stats = concat_summary.describe(include='all')

In [10]:
print(summary_stats)

       # Child_BIRTHS_ALL_YEAR  COMBINED_AGE_90TO19  COMBINED_EDU_90TO19
count              2431.000000         48620.000000         48620.000000
mean                  0.698478             9.012814             3.100329
std                   1.118491             9.263205             5.551830
min                   0.000000             0.000000             0.000000
25%                   0.000000             0.000000             0.000000
50%                   0.000000             6.000000             0.000000
75%                   1.000000            16.000000             0.000000
max                   8.000000            35.000000            17.000000

In [11]:
freq_columns = [df_original['MARITAL_STATUS_ALL_YEAR'], df_combined['COMBINED_RESID_STATES_90TO19'], df_combined['COMBINED_EDU_90TO19']]

In [12]:
concat_freq = pd.concat(freq_columns, axis=1)

In [13]:
concat_freq

,MARITAL_STATUS_ALL_YEAR,COMBINED_RESID_STATES_90TO19,COMBINED_EDU_90TO19
0,1.0,41.0,0.0
1,4.0,41.0,0.0
2,4.0,41.0,0.0
3,1.0,41.0,0.0
4,1.0,41.0,0.0
...,...,...,...
48615,NaN,24.0,0.0
48616,NaN,0.0,0.0
48617,NaN,48.0,0.0
48618,NaN,48.0,0.0
48619,NaN,13.0,0.0

In [14]:
frequency_counts_marriage = concat_freq['MARITAL_STATUS_ALL_YEAR'].value_counts(dropna=False)
proportions = concat_freq['MARITAL_STATUS_ALL_YEAR'].value_counts(normalize=True)
summary_table_marriage = pd.DataFrame({'Frequency': frequency_counts_marriage, 'Proportion': proportions})

In [15]:
print(summary_table_marriage) #Frequency counts for marriage status

     Frequency  Proportion
0.0          4    0.001645
1.0        466    0.191691
2.0       1838    0.756067
3.0          2    0.000823
4.0         74    0.030440
5.0         47    0.019334
NaN      46189         NaN

In [16]:
frequency_counts_age = concat_freq['COMBINED_RESID_STATES_90TO19'].value_counts(dropna=False)
proportions = concat_freq['COMBINED_RESID_STATES_90TO19'].value_counts(normalize=True)
summary_table_age = pd.DataFrame({'Frequency': frequency_counts_age, 'Proportion': proportions})

In [17]:
print(summary_table_age) #Frequency counts for individual's age between 1990 - 2019

      Frequency  Proportion
0.0        5185    0.106643
6.0        3588    0.073797
48.0       2437    0.050123
45.0       2198    0.045208
37.0       2135    0.043912
39.0       2131    0.043830
26.0       2111    0.043418
28.0       2016    0.041464
42.0       1749    0.035973
24.0       1568    0.032250
13.0       1471    0.030255
29.0       1408    0.028959
36.0       1361    0.027993
12.0       1283    0.026388
17.0       1273    0.026183
51.0       1159    0.023838
34.0       1123    0.023097
18.0       1070    0.022007
4.0        1024    0.021061
21.0        948    0.019498
1.0         791    0.016269
19.0        769    0.015817
8.0         690    0.014192
5.0         677    0.013924
25.0        654    0.013451
22.0        608    0.012505
41.0        598    0.012299
47.0        595    0.012238
32.0        536    0.011024
31.0        509    0.010469
23.0        500    0.010284
53.0        499    0.010263
55.0        430    0.008844
27.0        413    0.008494
20.0        322    0.006623
9.0         316    0.006499
11.0        316    0.006499
10.0        305    0.006273
40.0        272    0.005594
49.0        270    0.005553
46.0        214    0.004401
16.0        159    0.003270
3.0         132    0.002715
2.0         115    0.002365
38.0        111    0.002283
14.0        103    0.002118
35.0         97    0.001995
33.0         86    0.001769
54.0         69    0.001419
43.0         51    0.001049
15.0         42    0.000864
44.0         41    0.000843
30.0         37    0.000761
56.0         29    0.000596
50.0         20    0.000411
7.0           6    0.000123

In [18]:
frequency_counts_edu = concat_freq['COMBINED_EDU_90TO19'].value_counts(dropna=False)
proportions = concat_freq['COMBINED_EDU_90TO19'].value_counts(normalize=True)
summary_table_edu = pd.DataFrame({'Frequency': frequency_counts_edu, 'Proportion': proportions})

In [19]:
print(summary_table_edu) #Frequency counts for individual's edu between 1990 - 2019

      Frequency  Proportion
0.0       36708    0.754998
12.0       3446    0.070876
11.0       1569    0.032271
14.0       1309    0.026923
16.0       1290    0.026532
13.0       1249    0.025689
10.0       1178    0.024229
17.0        667    0.013719
9.0         541    0.011127
15.0        538    0.011065
8.0          78    0.001604
7.0          23    0.000473
1.0          10    0.000206
6.0          10    0.000206
3.0           3    0.000062
2.0           1    0.000021

In [ ]:
#Convert wide data to long data