In [3]:
import pandas as pd

In [4]:
df_combined = pd.read_csv('combined_final.csv')
df_original = pd.read_csv('original.csv')

In [5]:
df_original.columns

Index(['# Child_BIRTHS_ALL_YEAR', 'MARITAL_STATUS_ALL_YEAR', 'RESID_STATE_90',
       'AGE_90', 'EMPLOYMENT_90', 'EDUC_LEVEL_90', 'RESID_STATE_91', 'AGE_91',
       'EMPLOYMENT_91', 'EDUC_LEVEL_91', 'RESID_STATE_92', 'AGE_92',
       'EMPLOYMENT_92', 'EDUC_LEVEL_92', 'RESID_STATE_93', 'AGE_93',
       'EMPLOYMENT_93', 'EDUC_LEVEL_93', 'RESID_STATE_94', 'AGE_94',
       'EMPLOYMENT_94', 'EDUC_LEVEL_94', 'RESID_STATE_95', 'AGE_95',
       'EMPLOYMENT_95', 'EDUC_LEVEL_95', 'RESID_STATE_96', 'AGE_96',
       'EMPLOYMENT_96', 'EDUC_LEVEL_96', 'RESID_STATE_97', 'AGE_97',
       'EMPLOYMENT_97', 'EDUC_LEVEL_97', 'RESID_STATE_99', 'AGE_99',
       'EMPLOYMENT_99', 'EDUC_LEVEL_99', 'RESID_STATE_01', 'AGE_01',
       'EMPLOYMENT_01', 'EDUC_LEVEL_01', 'RESID_STATE_03', 'AGE_03',
       'EMPLOYMENT_03', 'EDUC_LEVEL_03', 'RESID_STATE_05', 'AGE_05',
       'EMPLOYMENT_05', 'EDUC_LEVEL_05', 'RESID_STATE_07', 'AGE_07',
       'EMPLOYMENT_07', 'EDUC_LEVEL_07', 'RESID_STATE_09', 'AGE_09',
       'EMPLOYMENT_09', 'EDUC_LEVEL_09', 'RESID_STATE_11', 'AGE_11',
       'EMPLOYMENT_11', 'EDUC_LEVEL_11', 'RESID_STATE_13', 'AGE_13',
       'EMPLOYMENT_13', 'EDUC_LEVEL_13', 'RESID_STATE_15', 'AGE_15',
       'EMPLOYMENT_15', 'EDUC_LEVEL_15', 'RESID_STATE_17', 'AGE_17',
       'EMPLOYMENT_17', 'EDUC_LEVEL_17', 'RESID_STATE_19', 'AGE_19',
       'EMPLOYMENT_19', 'EDUC_LEVEL_19'],
      dtype='object')

In [5]:
df_combined

,COMBINED_RESID_STATES_90TO19,COMBINED_AGE_90TO19,COMBINED_EMP_90TO19,COMBINED_EDU_90TO19
0,41.0,2.0,0.0,0.0
1,41.0,0.0,0.0,0.0
2,41.0,0.0,0.0,0.0
3,41.0,5.0,0.0,0.0
4,41.0,5.0,0.0,0.0
...,...,...,...,...
48615,24.0,0.0,0.0,0.0
48616,0.0,0.0,0.0,0.0
48617,48.0,0.0,0.0,0.0
48618,48.0,0.0,0.0,0.0
48619,13.0,0.0,0.0,0.0

In [ ]:
#LFPR 2001 = 0.27

In [52]:
#LFPR 2001 = 0.27

employed_01 = df_original['EMPLOYMENT_01'] == 1
unemployed_01 = (df_original['EMPLOYMENT_01'] == 2) | (df_original['EMPLOYMENT_01'] == 3)
workingPop_01 = (df_original['AGE_01'] >= 16) & (df_original['AGE_01'] < 64)

count_emp_01 = employed_01.sum() #0
count_unemp_01 = unemployed_01.sum() #0
count_workingPop_01 = workingPop_01.sum() #0

print(count_emp_01)
print(count_unemp_01)
print(count_workingPop_01)

40
3
157

In [54]:
LFP_01 = ((count_emp_01 + count_unemp_01)/count_workingPop_01)
LFP_01

0.27388535031847133

In [55]:
#LFPR 2003 = 0.36

employed_03 = df_original['EMPLOYMENT_03'] == 1
unemployed_03 = (df_original['EMPLOYMENT_03'] == 2) | (df_original['EMPLOYMENT_03'] == 3)
workingPop_03 = (df_original['AGE_03'] >= 16) & (df_original['AGE_03'] < 64)

count_emp_03 = employed_03.sum() #0
count_unemp_03 = unemployed_03.sum() #0
count_workingPop_03 = workingPop_03.sum() #0

print(count_emp_03)
print(count_unemp_03)
print(count_workingPop_03)

117
28
402

In [56]:
LFP_03 = ((count_emp_03 + count_unemp_03)/count_workingPop_03)
LFP_03

0.36069651741293535

In [57]:
#LFPR 2005 = 0.44

employed_05 = df_original['EMPLOYMENT_05'] == 1
unemployed_05 = (df_original['EMPLOYMENT_05'] == 2) | (df_original['EMPLOYMENT_05'] == 3)
workingPop_05 = (df_original['AGE_05'] >= 16) & (df_original['AGE_05'] < 64)

count_emp_05 = employed_05.sum() #0
count_unemp_05 = unemployed_05.sum() #0
count_workingPop_05 = workingPop_05.sum() #0

print(count_emp_05)
print(count_unemp_05)
print(count_workingPop_05)

227
59
642

In [58]:
LFP_05 = ((count_emp_05 + count_unemp_05)/count_workingPop_05)
LFP_05

0.4454828660436137

In [59]:
#LFPR 2007 = 0.50

employed_07 = df_original['EMPLOYMENT_07'] == 1
unemployed_07 = (df_original['EMPLOYMENT_07'] == 2) | (df_original['EMPLOYMENT_07'] == 3)
workingPop_07 = (df_original['AGE_07'] >= 16) & (df_original['AGE_07'] < 64)

count_emp_07 = employed_07.sum() #0
count_unemp_07 = unemployed_07.sum() #0
count_workingPop_07 = workingPop_07.sum() #0

print(count_emp_07)
print(count_unemp_07)
print(count_workingPop_07)

363
103
941

In [60]:
LFP_07 = ((count_emp_07 + count_unemp_07)/count_workingPop_07)
LFP_07

0.4952178533475027

In [61]:
#LFPR 2009 = 0.54

employed_09 = df_original['EMPLOYMENT_09'] == 1
unemployed_09 = (df_original['EMPLOYMENT_09'] == 2) | (df_original['EMPLOYMENT_09'] == 3)
workingPop_09 = (df_original['AGE_09'] >= 16) & (df_original['AGE_09'] < 64)

count_emp_09 = employed_09.sum() #0
count_unemp_09 = unemployed_09.sum() #0
count_workingPop_09 = workingPop_09.sum() #0

print(count_emp_09)
print(count_unemp_09)
print(count_workingPop_09)

506
159
1240

In [62]:
LFP_09 = ((count_emp_09 + count_unemp_09)/count_workingPop_09)
LFP_09

0.5362903225806451

In [63]:
#LFPR 2011 = 0.61

employed_11 = df_original['EMPLOYMENT_11'] == 1
unemployed_11 = (df_original['EMPLOYMENT_11'] == 2) | (df_original['EMPLOYMENT_11'] == 3)
workingPop_11 = (df_original['AGE_11'] >= 16) & (df_original['AGE_11'] < 64)

count_emp_11 = employed_11.sum() #0
count_unemp_11 = unemployed_11.sum() #0
count_workingPop_11 = workingPop_11.sum() #0

print(count_emp_11)
print(count_unemp_11)
print(count_workingPop_11)

663
238
1484

In [64]:
LFP_11 = ((count_emp_11 + count_unemp_11)/count_workingPop_11)
LFP_11

0.6071428571428571

In [65]:
#LFPR 2013 = 0.64

employed_13 = df_original['EMPLOYMENT_13'] == 1
unemployed_13 = (df_original['EMPLOYMENT_13'] == 2) | (df_original['EMPLOYMENT_13'] == 3)
workingPop_13 = (df_original['AGE_13'] >= 16) & (df_original['AGE_13'] < 64)

count_emp_13 = employed_13.sum() #0
count_unemp_13 = unemployed_13.sum() #0
count_workingPop_13 = workingPop_13.sum() #0

print(count_emp_13)
print(count_unemp_13)
print(count_workingPop_13)

867
251
1737

In [66]:
LFP_13 = ((count_emp_13 + count_unemp_13)/count_workingPop_13)
LFP_13

0.6436384571099597

In [67]:
#LFPR 2015 = 0.68

employed_15 = df_original['EMPLOYMENT_15'] == 1
unemployed_15 = (df_original['EMPLOYMENT_15'] == 2) | (df_original['EMPLOYMENT_15'] == 3)
workingPop_15 = (df_original['AGE_15'] >= 16) & (df_original['AGE_15'] < 64)

count_emp_15 = employed_15.sum() #0
count_unemp_15 = unemployed_15.sum() #0
count_workingPop_15 = workingPop_15.sum() #0

print(count_emp_15)
print(count_unemp_15)
print(count_workingPop_15)

1077
245
1937

In [68]:
LFP_15 = ((count_emp_15 + count_unemp_15)/count_workingPop_15)
LFP_15

0.682498709344347

In [69]:
#LFPR 2017 = 0.71

employed_17 = df_original['EMPLOYMENT_17'] == 1
unemployed_17 = (df_original['EMPLOYMENT_17'] == 2) | (df_original['EMPLOYMENT_17'] == 3)
workingPop_17 = (df_original['AGE_17'] >= 16) & (df_original['AGE_17'] < 64)

count_emp_17 = employed_17.sum() #0
count_unemp_17 = unemployed_17.sum() #0
count_workingPop_17 = workingPop_17.sum() #0

print(count_emp_17)
print(count_unemp_17)
print(count_workingPop_17)

1336
228
2205

In [70]:
LFP_17 = ((count_emp_17 + count_unemp_17)/count_workingPop_17)
LFP_17

0.709297052154195

In [71]:
#LFPR 2019 = 0.75

employed_19 = df_original['EMPLOYMENT_19'] == 1
unemployed_19 = (df_original['EMPLOYMENT_19'] == 2) | (df_original['EMPLOYMENT_19'] == 3)
workingPop_19 = (df_original['AGE_19'] >= 16) & (df_original['AGE_19'] < 64)

count_emp_19 = employed_19.sum() #0
count_unemp_19 = unemployed_19.sum() #0
count_workingPop_19 = workingPop_19.sum() #0

print(count_emp_19)
print(count_unemp_19)
print(count_workingPop_19)

1465
213
2220

In [73]:
LFP_19 = ((count_emp_19 + count_unemp_19)/count_workingPop_19)
LFP_19

0.7558558558558559

In [ ]:
# LFP for women in Nebraska
employed_19 = df_original['EMPLOYMENT_19'] == 1 & df_original['RESID_STATE_01'] == 1
unemployed_19 = (df_original['EMPLOYMENT_19'] == 2) | (df_original['EMPLOYMENT_19'] == 3)
workingPop_19 = (df_original['AGE_19'] >= 16) & (df_original['AGE_19'] < 64)

count_emp_19 = employed_19.sum() #0
count_unemp_19 = unemployed_19.sum() #0
count_workingPop_19 = workingPop_19.sum() #0

print(count_emp_19)
print(count_unemp_19)
print(count_workingPop_19)

In [ ]:
# LFP for women in Iowa, South Dakota, Wyoming, Montana, Wisconsin, Kansas, Mississippi